# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-to-trash

# Build
build/
*.o
*.d

# Archives
*.xcarchive

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Credentials
*.p12
*.mobileprovision
*.certSigningRequest
